<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'foundation' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Colors 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'foundation', depth2: 'colors', depth3: null }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Colors</h3>
                                <p class="content-summary">연합뉴스 웹/앱에서 사용하는 컬러를 정의합니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head"> 
                                            <h4 class="section-subject" data-link-cont="principle">Principle</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="data-list design-02">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject">1. WCAG</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">연합뉴스 웹/앱에서는 웹 콘텐츠 접근성 지침(WCAG)을 준수한 컬러를 사용합니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject">2. Key colors</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">연합뉴스 디지털 UI에 최적화한 색상으로 UI 전체에 일관되게 사용합니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject">3. hierarchy</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">색상은 요소의 위계와 중요도에 따라 사용합니다. 가장 중요한 요소가 가장 눈에 띄어야 합니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head"> 
                                            <h4 class="section-subject" data-link-cont="lightAndDarkMode">Light and Dark mode</h4>
                                            <p class="section-summary">연합뉴스 컬러 시스템에는 라이트 모드에서 사용하는 <span class="accent color-01">라이트 컬러 시스템</span>과 다크모드에서 사용하는 <span class="accent color-01">다크 컬러 시스템</span>이 있습니다.</p>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/foundation/colors-02.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div> 
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head"> 
                                            <h4 class="section-subject" data-link-cont="basicColor">Basic color</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="data-list design-01">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="mainColor">Main color</em>
                                                            <p class="summary">브랜드 컬러를 기반으로 한 메인 컬러입니다. 버튼, 활성 상태와 같은 UI 전체의 주요 구성 요소에 사용됩니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/colors-03-a.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="subColor">Sub color</em>
                                                            <p class="summary">기능, 강조 등의 목적으로 보조적으로 사용하는 컬러입니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/colors-03-b.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="greyscale">Greyscale</em>
                                                            <p class="summary">회색조 컬러를 정의합니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/colors-03-c.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head"> 
                                            <h4 class="section-subject" data-link-cont="semanticColor">Semantic color</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="data-list design-01">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="background">Background</em>
                                                            <p class="summary">배경색상으로 사용되는 컬러입니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/colors-04-a.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="popupBox">Popup box</em>
                                                            <p class="summary">팝업에 적용하는 배경 컬러입니다. </p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/colors-04-b.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'colors', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>