<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'foundation' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Layout 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'foundation', depth2: 'layout', depth3: null }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Layout</h3>
                                <p class="content-summary">화면에 있는 요소들의 시각적 배열을 다양한 디바이스에서도 일관성을 유지할 수 있도록 도와줍니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head"> 
                                            <h4 class="section-subject" data-link-cont="responsiveLayoutGrid">Responsive layout grid</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <div class="data-list design-03">
                                                <div class="data-item"> 
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="breakPoint">Break point</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <ul class="data-list bullet-01">
                                                                <li class="data-item">
                                                                    우리나라에서 가장 많이 사용되는 데스크탑, 태블릿, 모바일 크기에 기반한 브레이크 포인트 입니다.
                                                                </li>
                                                                <li class="data-item">
                                                                    연합뉴스는 반응형 웹으로 모바일일 경우를 최우선으로 초점을 맞춰서 디자인해줍니다.
                                                                </li>
                                                            </ul>
                                                            <div class="table-display design-01">
                                                                <table>
                                                                    <caption>Break point</caption>
                                                                    <colgroup>
                                                                        <col width="33.333%">
                                                                        <col width="33.333%">
                                                                        <col width="33.333%">
                                                                    </colgroup>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>디바이스</th>
                                                                            <th>브레이크 포인트(px)</th>
                                                                            <th>대표화면 사이즈(px)</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="align-03">
                                                                            <td>데스크톱</td>
                                                                            <td>1280 ~</td>
                                                                            <td>1920</td>
                                                                        </tr>
                                                                        <tr class="align-03">
                                                                            <td>데스크톱</td>
                                                                            <td>1024 ~ 1279</td>
                                                                            <td>1024</td>
                                                                        </tr>
                                                                        <tr class="align-03">
                                                                            <td>태블릿</td>
                                                                            <td>768 ~ 1023</td>
                                                                            <td>768</td>
                                                                        </tr>
                                                                        <tr class="align-03">
                                                                            <td>모바일</td>
                                                                            <td>320 ~ 767</td>
                                                                            <td>375</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/layout-01-a.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item"> 
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="contentsArea">Contents area</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <ul class="data-list bullet-01">
                                                                <li class="data-item">
                                                                    다양한 디바이스에서 보이는 화면의 최대 콘텐츠 영역을 설정하여 사용합니다.
                                                                </li>
                                                                <li class="data-item">
                                                                    반응형을 기반으로 레이아웃을 구성하며 디바이스 축소 시에는 콘텐츠가 재배치됩니다.
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/layout-01-b.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head"> 
                                            <h4 class="section-subject" data-link-cont="spacing">Spacing</h4>
                                            <p class="section-summary">균일한 요소와 간격을 사용하여 UI의 체계적인 배열을 도와줍니다.<br> 8px(8-Point grid)의 배수를 사용하며, 상황에 따라 4px의 배수 간격을 사용할 수 있습니다.</p>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/foundation/layout-02-a.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'layout', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>