<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'foundation' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Object Styles 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'foundation', depth2: 'object-styles', depth3: null }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Object Styles</h3>
                                <p class="content-summary">Object Style은 세 가지 시각적 요소인 Radius, Border Width, Shadow를 분류하여 전체 UI에서 시각적 일관성을 유지합니다.<br> 버튼 및 텍스트 입력 상자와 같은 디자인 구성 요소 컨테이너에 적용되는 스타일 속성을 정의합니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head"> 
                                            <h4 class="section-subject" data-link-cont="radius">Radius</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <img src="../assets/images/foundation/objectStyles-01-a.jpg" alt=" ">
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/objectStyles-01-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="smallRounding">Small rounding</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">대부분의 구성 요소에서 가장 자주 사용되는 값입니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/objectStyles-01-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="defaultRounding">Default rounding</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">일반적으로 컨텐츠 카드 및 팝업 메세지와 같이<br> 큰 형태의 박스 구성 요소에 사용됩니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/objectStyles-01-d.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="etcRounding">ETC rounding</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">강조가 필요한 부분에 예외적으로 사용하는<br> 라운드 유형입니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/objectStyles-01-e.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="fullRounding">Full rounding</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">UI 요소에 사용하는 라운드 값으로 강조되는<br> 구성 요소에 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="borderWidth">Border width</h4>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/foundation/objectStyles-02.jpg" alt=" ">
                                            <div class="table-display design-02">
                                                <table>
                                                    <caption>Border width</caption>
                                                    <colgroup>
                                                        <col width="18.37%">
                                                        <col width="auto">
                                                    </colgroup>
                                                    <thead>
                                                        <tr class="align-01">
                                                            <th>Value</th>
                                                            <th>Usage</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1 px border</td>
                                                            <td>가장 일반적인 테두리 너비입니다.<br> 일반적인 테두리(예: 텍스트 필드, 태그, 팝오버) 또는 구분선(예: 테이블, 작은 구분선)으로 사용됩니다.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2 px border</td>
                                                            <td>요소의 강조가 필요할 때 이 값을 사용합니다. </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3 px border</td>
                                                            <td>주로 라인으로 구성된 구성 요소(예: 슬라이더 또는 탭)로 사용됩니다.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="shadow">Shadow</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="data-list design-01">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="defaultShadow">Default shadow</em>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/objectStyles-03-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="data-body">
                                                            <div class="table-display design-02">
                                                                <table>
                                                                    <caption>Default shadow</caption>
                                                                    <colgroup>
                                                                        <col width="18.37%">
                                                                        <col width="21%">
                                                                        <col width="auto">
                                                                    </colgroup>
                                                                    <thead>
                                                                        <tr class="align-01">
                                                                            <th>Category</th>
                                                                            <th>Value</th>
                                                                            <th>Usage</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Normal</td>
                                                                            <td>0px 0px 10px 0px<br> rgba(0, 0, 0, 0.15)</td>
                                                                            <td>컨텐츠 박스, 컴포넌트에 사용하는 기본적인 그림자 유형입니다.</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Z-depth</td>
                                                                            <td>0px 4px 16px 0px<br> rgba(0, 0, 0, 0.20)</td>
                                                                            <td>일반 컴포넌트와의 계층의 차별을 명확히 구분하는 목적으로 사용됩니다.</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Bottom Bar</td>
                                                                            <td>0px -4px 4px 0px<br> rgba(0, 0, 0, 0.04)</td>
                                                                            <td>모바일 최하단 Bottom Bar에 사용하는 그림자 유형입니다. </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="onLightGray">On light gray</em>
                                                            <p class="summary">회색 배경인 마이뉴스 카테고리에서 사용하고 있는 그림자입니다. </p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/foundation/objectStyles-03-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="data-body">
                                                            <div class="table-display design-02">
                                                                <table>
                                                                    <caption>Default shadow</caption>
                                                                    <colgroup>
                                                                        <col width="18.37%">
                                                                        <col width="21%">
                                                                        <col width="auto">
                                                                    </colgroup>
                                                                    <thead>
                                                                        <tr class="align-01">
                                                                            <th>Category</th>
                                                                            <th>Value</th>
                                                                            <th>Usage</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Light</td>
                                                                            <td>0px 8px 60px 0px<br> #F5F5F5;</td>
                                                                            <td>라이트 모드에서 사용하고 있는 투명도 없는 그림자입니다. </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Dark</td>
                                                                            <td>0px 8px 60px 0px<br> #232323;</td>
                                                                            <td>다크 모드에서 사용하고 있는 투명도 없는 그림자입니다. </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'object-styles', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>