<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'foundation' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local">
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Typography 디자인 가이드 마지막 테스트이길!!!</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'foundation', depth2: 'typography', depth3: null }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Typography</h3>
                                <p class="content-summary">웹 인증 글꼴 패밀리, 글꼴 두께, 문자 간격을 사용하여 일관된 디자인을 만들 수 있도록 합니다.<br> 타이포그래피 시스템은 제목과 텍스트 유형을 제공하고 사용법을 지정합니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="typeface">Typeface</h4>
                                            <p class="section-summary">연합뉴스 웹/앱에서는 <span class="accent color-01">Pretendard</span>을 표준 폰트로 사용합니다.</p>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/foundation/typography-01.jpg" alt="가나다 ABC abc 123 @#!?*">
                                            <p class="small design-01 style-01 gray-01">프리텐다드 서체 정보 : <a href="https://cactus.tistory.com/306" target="_blank" class="link">https://cactus.tistory.com/306</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="components">Components</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-02-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="heading">Heading</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">탑뉴스 타이틀에 주로 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-02-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="title">Title</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">뉴스 타이틀에 주로 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-02-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="body">Body</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">뉴스 본문에 주로 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-02-d.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="detail">Detail</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">추가 정보 또는 작은 항목 텍스트에 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-02-e.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="label">Label</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">구성 요소 내부의 텍스트로 사용합니다.<br> (예: 버튼, 키워드 등)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-02-f.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="link">Link</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">문장 내의 몇 단어로 이루어진 텍스트 혹은 메뉴와 같이 독립적인 링크에 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="fontSizes">Font sizes</h4>
                                            </div>
                                            <div class="section-body">
                                                <div class="table-display design-01 align-03">
                                                    <table>
                                                        <caption>Font sizes</caption>
                                                        <colgroup>
                                                            <col width="auto">
                                                            <col width="20.40816%">
                                                            <col width="20.40816%">
                                                            <col width="20.40816%">
                                                            <col width="20.40816%">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">Style</th>
                                                                <th>PC size</th>
                                                                <th>Tablet size</th>
                                                                <th>Mobile size</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th rowspan="4" class="align-01">Headline</th>
                                                                <td>Large</td>
                                                                <td class="align-03">36</td>
                                                                <td class="align-03">26</td>
                                                                <td class="align-03">26</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Medium</td>
                                                                <td class="align-03">24</td>
                                                                <td class="align-03">20</td>
                                                                <td class="align-03">18</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Regular</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">18</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Small</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                            </tr>

                                                            <tr>
                                                                <th rowspan="6" class="align-01">Title</th>
                                                                <td>X Large</td>
                                                                <td class="align-03">32</td>
                                                                <td class="align-03">24</td>
                                                                <td class="align-03">24</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Large</td>
                                                                <td class="align-03">20</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">18</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Medium</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">18</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Regular</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Small</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                            </tr>
                                                            <tr>
                                                                <td>X Small</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">15</td>
                                                                <td class="align-03">15</td>
                                                            </tr>

                                                            <tr>
                                                                <th rowspan="5" class="align-01">Body</th>
                                                                <td>Large</td>
                                                                <td class="align-03">22</td>
                                                                <td class="align-03">22</td>
                                                                <td class="align-03">22</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Medium</td>
                                                                <td class="align-03">20</td>
                                                                <td class="align-03">20</td>
                                                                <td class="align-03">20</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Regular</td>
                                                                <td class="align-03">18(*기본)</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">18</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Small</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                            </tr>
                                                            <tr>
                                                                <td>X Small</td>
                                                                <td class="align-03">14</td>
                                                                <td class="align-03">14x</td>
                                                                <td class="align-03">14</td>
                                                            </tr>

                                                            <tr>
                                                                <th rowspan="4" class="align-01">Detail</th>
                                                                <td>Medium</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Regular</td>
                                                                <td class="align-03">14</td>
                                                                <td class="align-03">14</td>
                                                                <td class="align-03">14</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Small</td>
                                                                <td class="align-03">13</td>
                                                                <td class="align-03">13</td>
                                                                <td class="align-03">13</td>
                                                            </tr>
                                                            <tr>
                                                                <td>X Small</td>
                                                                <td class="align-03">12</td>
                                                                <td class="align-03">12</td>
                                                                <td class="align-03">12</td>
                                                            </tr>

                                                            <tr>
                                                                <th rowspan="7" class="align-01">Label</th>
                                                                <td>XX Large</td>
                                                                <td class="align-03">18</td>
                                                                <td class="align-03">16</td>
                                                                <td class="align-03">16</td>
                                                            </tr>
                                                            <tr>
                                                                <td>X Large</td>
                                                                <td class="align-03">17</td>
                                                                <td class="align-03">15</td>
                                                                <td class="align-03">15</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Large</td>
                                                                <td class="align-03">14</td>
                                                                <td class="align-03">14</td>
                                                                <td class="align-03">14</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Medium</td>
                                                                <td class="align-03">13</td>
                                                                <td class="align-03">13</td>
                                                                <td class="align-03">13</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Regular</td>
                                                                <td class="align-03">12</td>
                                                                <td class="align-03">12</td>
                                                                <td class="align-03">12</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Small</td>
                                                                <td class="align-03">11</td>
                                                                <td class="align-03">11</td>
                                                                <td class="align-03">11</td>
                                                            </tr>
                                                            <tr>
                                                                <td>X Small</td>
                                                                <td class="align-03">10</td>
                                                                <td class="align-03">10</td>
                                                                <td class="align-03">10</td>
                                                            </tr>

                                                            <tr>
                                                                <th rowspan="4" class="align-01">Link</th>
                                                                <td>Large</td>
                                                                <td class="align-03">12</td>
                                                                <td class="align-03">12</td>
                                                                <td class="align-03">12</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Medium</td>
                                                                <td class="align-03">15</td>
                                                                <td class="align-03">14</td>
                                                                <td class="align-03">14</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Regular</td>
                                                                <td class="align-03">14</td>
                                                                <td class="align-03">14</td>
                                                                <td class="align-03">13</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Small</td>
                                                                <td class="align-03">13</td>
                                                                <td class="align-03">13</td>
                                                                <td class="align-03">13</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="fontWeight">Font weight</h4>
                                            <p class="section-summary">모든 페이지 내에서 텍스트의 두께는 <span class="accent color-01">Regular, Medium, Semibold, Bold</span> 4가지를 원칙으로 사용합니다.</p>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/foundation/typography-03.jpg" alt="가나다 ABC abc 123 @#!?*">
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="lineHeight">Line height</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-04-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="headingAndDetail">Heading and Title</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    탑뉴스 헤드라인의 경우 1.3배(130%) 행간을 사용합니다.
                                                                    그 외에는 1.5배(150%) 행간을 사용합니다.
                                                                    이는 모든 글꼴과 대체 글꼴에 적용됩니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-04-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="bodyAndCode">Body and Detail</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    뉴스 본문 태블릿, 모바일에서는 기본 행간 1.5배수가 아닌 예외 케이스로 1.7배(170%)로 행간을 사용합니다.<br>
                                                                    이는 모든 글꼴과 대체 글꼴에 적용됩니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/typography-04-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="component">Component</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    가독성을 보장하기 위해 1.5배 행간를 사용합니다.<br>
                                                                    이는 모든 글꼴과 대체 글꼴에 적용됩니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'typography', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>