<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'components' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Accordion 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'components', depth2: 'list', depth3: 'accordion' }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Accordion</h3>
                                <p class="content-summary">
                                    아코디언 목록은 FAQ와 같이 제목이 확장 메뉴 방식으로 설명을 노출하는 경우에 일반적으로 사용됩니다. <br>
                                    리스트 클릭하면 세부정보를 숨기거나 볼 수 있습니다. nhbgkfdhgfjkdhgfjdkghfdkj




                                </p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="faq">FAQ</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <img src="../assets/images/components/accordion-01-a.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="oneOnOneInquiry">1:1 inquiry</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <img src="../assets/images/components/accordion-02-a.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                                <div class="section code">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="code">Code</h4>
                                            <div class="btn-display">
                                                <a href="https://codepen.io/PIX-the-bold/pen/GRVWgZp" target="_blank" class="btn view-code design-01">
                                                    View Code
                                                </a>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <pre class="highlight-js">
                                                <code class="html">&lt;div class="item-box02"&gt;
    &lt;a href="#" class="text-con03"&gt;
        &lt;span class="ico-questions01"&gt;
            &lt;span class="txt01"&gt;Q&lt;/span&gt;
        &lt;/span&gt;
        &lt;strong class="title-unit03"&gt;FAQ - Question&lt;/strong&gt;
        &lt;span class="btn-unit090-toggle"&gt;
            &lt;i class="ir-txt01"&gt;열기&lt;/i&gt;
        &lt;/span&gt;
    &lt;/a&gt;
    &lt;div class="text-con04"&gt;
        &lt;span class="ico-answers01"&gt;
            &lt;span class="txt01"&gt;A&lt;/span&gt;
            &lt;i class="ir-txt01"&gt;답변&lt;/i&gt;
        &lt;/span&gt;
        &lt;strong class="txt-unit04"&gt;Answer&lt;/strong&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'accordion', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>