<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'components' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Button Navigation 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'components', depth2: 'navigation', depth3: 'button-navigation' }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Button Navigation</h3>
                                <p class="content-summary">사용자가 빠르고 쉽게 접근할 수 있도록 앱의 주요 기능으로 구성되어 있습니다.<br> 각 목적지는 아이콘과 선택적 텍스트 레이블로 표시됩니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="mainBottomNavigation">Main bottom navigation</h4>
                                            <p class="section-summary">APP전용으로 디바이스 하단에 노출되는 메뉴입니다.<br> 
                                                홈, 섹션 홈/리스트(날씨, 북한포털, 재난포털, 보도자료) 등 뉴스와 관련된 모든 리스트 영역에 노출됩니다.<br> 
                                                로그인, 검색, 설정, 전체 메뉴, 고객센터, 로그인, 마이뉴스 등 뉴스와 관련된 영역을 제외한 일반 메뉴 화면에서는 노출되지 않습니다.</p>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/components/buttonNavigation-01.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="newsBottomNavigation">News bottom navigation</h4>
                                            <p class="section-summary">뉴스 본문에서 사용하는 네비게이션입니다.</p>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/components/buttonNavigation-02.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="options">Options</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/buttonNavigation-03-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="updateBadge">Update badge</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">하단 탐색 메뉴 아이콘의 배지를 사용하여 업데이트 상태를 표시할 수 있습니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/buttonNavigation-03-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="case">Case</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">본문 전용 하단 탭바는 적용되는 브라우저 환경에 따라 제공됩니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="usage">Usage</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="data-list design-03">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="placement">Placement</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <ul class="data-list bullet-01">
                                                                <li class="data-item">앱 화면의 맨 아래 부분에 배치합니다.</li>
                                                                <li class="data-item">화면에 고정되어 있으며 스크롤해도 사라지지 않습니다.</li>
                                                            </ul>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/components/buttonNavigation-04-a.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="itemDistribution">Item distribution</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">장치가 가로 모드일 때 하단 탐색 항목을 가로로 분산하여 화면 너비를 채울 수 있습니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/components/buttonNavigation-04-b.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-list design-04">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="usageGuidelines">Usage guidelines</em>
                                                        </div>
                                                        <div class="data-figure">
                                                            <div class="post-list design-02 style-01">
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/buttonNavigation-04-c.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    텍스트 레이블은 줄임표나 두 줄로 표시되지 않도록<br> 
                                                                                    간단하게 작성해야 합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/buttonNavigation-04-d.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    하단 탐색에서 접근 가능한 메뉴는 Y뷰어를 제외하고 4개를 초과할 수<br> 
                                                                                    없습니다. 4개를 초과해야 하는 경우 탭을 사용합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section code">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="code">Code</h4>
                                            <div class="btn-display">
                                                <a href="https://codepen.io/PIX-the-bold/pen/xxvqjOQ" target="_blank" class="btn view-code design-01">
                                                    View Code
                                                </a>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <pre class="highlight-js">
                                                <code class="html">&lt;div class=&quot;wrap-dock-menu&quot;&gt;
    &lt;ul class=&quot;nav-type51&quot;&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn-type102 home&quot;&gt;
                &lt;strong class=&quot;txt01&quot;&gt;홈&lt;/strong&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn-type102 bknews&quot;&gt;
                &lt;span class=&quot;ico-type08-new01 style01&quot;&gt;&lt;i class=&quot;ir-txt01&quot;&gt;new&lt;/i&gt;&lt;/span&gt;
                &lt;strong class=&quot;txt01&quot;&gt;속보&lt;/strong&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn-type103 viewer&quot;&gt;
                &lt;strong class=&quot;ir-txt01&quot;&gt;y뷰어&lt;/strong&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn-type102 screen&quot;&gt;
                &lt;strong class=&quot;txt01&quot;&gt;영상&lt;/strong&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn-type102 report&quot;&gt;
                &lt;strong class=&quot;txt01&quot;&gt;제보&lt;/strong&gt;
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'button-navigation', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>