 <!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        quickLink();
    });
</script>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'components' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Dropdown 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'components', depth2: 'input', depth3: 'dropdown' }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Dropdown</h3>
                                <p class="content-summary">드롭다운은 피커(Picker)라고 불리기도 하며 풀다운 버튼이나 아이콘 버튼과 같은 구성 요소와 함께 사용됩니다.<br> 사용자가 목록에서 원하는 선택 항목만 필터링할 수 있도록 해줍니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="anatomy">Anatomy</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <img src="../assets/images/components/dropDown-01.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="options">Options</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head"> 
                                                                <em class="subject" data-link-cont="label">Label</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    맥락이 충분하고 접근성 전문가가 디자인을 검토한 드문<br> 경우 레이블이 정의되지 않을 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="placeholder">Placeholder</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    플레이스홀더 텍스트는 일반적으로 "고스트 텍스트"라고도 하며, 사용자에게 피커 메뉴에서 옵션을 선택하도록 요청합니다. 사용자가 옵션을 선택하면 사라집니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="value">Value</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    값은 사용자가 선택한 옵션을 보여줍니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-d.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="width">Width</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    너비는 상황에 맞게 적절히 사용자 지정할 수 있습니다. 
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-e.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="size">Size</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    가이드에 있는 L, M,S 사이즈를 권장하나,<br> 
                                                                    텍스트 레이블에 따라 달라질 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-f.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="quiet">Quiet</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    조용한 피커는 눈에 보이는 배경이 없을 수 있습니다.<br> 이 스타일은 명확한 레이아웃(수직 스택, 테이블, 그리드)이 버튼을 쉽게 분석할 수 있을 때 가장 잘 작동합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-g.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="menuContainer">Menu container</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    모바일에서는 메뉴가 다음 중 하나로 노출될 수 있습니다.<br> 
                                                                    <a href="#popover" class="link quick-link accent color-01">Popover</a> 또는 <a href="#tray" class="link quick-link accent color-01">Tray</a>로 선택할 수 있는 옵션을 사용합니다.
                                                                </p>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-h.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="requiredOrOptional">Required or optional</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    피커는 상황에 따라 선택 사항 또는 필수 사항으로 표시할 수 있습니다. 
                                                                </p>
                                                                <p class="para">
                                                                    필수 레이블은 별표로 표시합니다. 선택 사항 피커는 레이블 끝에 ‘(선택)’을 표시하거나 전혀 표시되지 않습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-i.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="disabled">Disabled</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    비활성화된 상태의 피커는 입력 필드가 있지만 해당 상황에서는 사용할 수 없음을 보여줍니다. 
                                                                </p>
                                                                <p class="para">
                                                                    레이아웃 연속성을 유지하고 나중에 사용할 수 있음을 전달하는 데 사용할 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-02-j.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="info">Info</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    설명은 선택해야 할 내용에 대한 구체적인 요구 사항과 같은 힌트나 유용한 정보를 전달합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section" id="popover">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="popover">Popover</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="data-list design-04">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-body">
                                                            <p class="para">팝오버는 메뉴, 옵션, 추가 작업 등과 같은 일시적인 콘텐츠를 표시하는 데 사용되는 컨테이너입니다.<br> 획과 그림자를 통해 시각적으로 눈에 띄고 인터페이스 위에 떠 있습니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/components/dropDown-03.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section" id="tray">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="tray">Tray</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="data-list design-04">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-body">
                                                            <p class="para">트레이는 메뉴, 옵션, 추가 작업 등과 같은 일시적인 콘텐츠를 표시하는 컨테이너입니다.<br> 모바일 환경에서만 존재하며 너무 압도적일 수 있는 콘텐츠 유형을 노출하는 데 사용됩니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/components/dropDown-04.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="behaviors">Behaviors</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-05-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head"> 
                                                                <em class="subject" data-link-cont="overflow">Overflow</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">필드 레이블과 메뉴 텍스트가 사용 가능한 수평 공간에 비해 너무 길면 줄바꿈하여 다른 줄을 형성합니다.</p>
                                                                <p class="para">필드 텍스트 자체는 끝에서 잘리지만, 텍스트는 메뉴에서 전체로 표시할 수 있습니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/dropDown-05-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="menuHeight">Menu height</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">피커 메뉴는 사용 가능한 공간에 가능한 한 많은 옵션을 표시하기 위해 필요한 만큼 높이를 정할 수 있습니다.</p>
                                                                <p class="para">사용자 편의와 해상도 대응을 위해서 옵션이 지정 높이 값을 넘어갈 경우에는 스크롤을 생성합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="usage">Usage</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="data-list design-04">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-figure">
                                                            <ul class="post-list design-02 style-01">
                                                                <li class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure do">
                                                                            <img src="../assets/images/components/dropDown-06-a.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    화면 전체에서 동일한 입력 컨테이너 유형을 사용합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/dropDown-06-b.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    윤곽이 있는 유형과 포함된 유형을 함께 사용할 때 비활성화된 상태의 컨테이너가 비슷하게 보일 수 있습니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-list design-03">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="internationalization">Internationalization</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">RTL(오른쪽에서 왼쪽으로) 언어의 경우 텍스트와 체크 표시는 오른쪽 정렬되고 셰브론은 왼쪽 정렬됩니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <img src="../assets/images/components/dropDown-06-c.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section code">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="code">Code</h4>
                                            <div class="btn-display">
                                                <a href="https://codepen.io/PIX-the-bold/pen/yLmVWem" target="_blank" class="btn view-code design-01">
                                                    View Code
                                                </a>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <pre class="highlight-js">
                                                <code class="html">&lt;fieldset class=&quot;board-write01&quot;&gt;
    &lt;form&gt;
        &lt;div class=&quot;form-group01&quot;&gt;
            &lt;strong class=&quot;title-unit40&quot;&gt;
                문의유형&lt;span class=&quot;ico-star01&quot;&gt;&lt;i class=&quot;ir-txt01&quot;&gt;필수항목&lt;/i&gt;&lt;/span&gt;
            &lt;/strong&gt;
            &lt;div class=&quot;form-row01&quot;&gt;
                &lt;div class=&quot;select-list03&quot; id=&quot;selectClass&quot;&gt;
                    &lt;input type=&quot;hidden&quot; id=&quot;inputClass&quot;&gt;
                    &lt;button type=&quot;button&quot; class=&quot;btn-text01&quot; data-focus=&quot;&quot; data-item-open=&quot;false&quot; data-item-focus=&quot;&quot;&gt;
                        &lt;strong&gt;문의유형&lt;/strong&gt;
                    &lt;/button&gt;
                    &lt;div class=&quot;list01&quot;&gt;
                        &lt;ul&gt;
                            &lt;li&gt;&lt;button type=&quot;button&quot; data-class1=&quot;service&quot;&gt;서비스 문의&lt;/button&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;button type=&quot;button&quot; data-class1=&quot;imporve&quot;&gt;개선 의견&lt;/button&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;button type=&quot;button&quot; data-class1=&quot;etc&quot;&gt;기타&lt;/button&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/fieldset&gt;
</code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'dropdown', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>