<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'components' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Icon Button 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'components', depth2: 'button', depth3: 'icon-button' }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Icon Button</h3>
                                <p class="content-summary">
                                    아이콘 형태 버튼으로 공간이 충분하지 않거나 사용자가 이해하기에 충분히 직관적인 아이콘이라면<br>
                                    레이블 없이 아이콘만 단독으로 사용할 수 있습니다.
                                </p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="anatomy">Anatomy</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <img src="../assets/images/components/iconButton-01-a.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="options">Options</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/iconButton-02-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="gnb">GNB</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    해상도 공통으로 사용되는 GNB 아이콘 버튼 입니다.
                                                                    다크모드와 라이드모드를 고려해 블랙과 화이트<br> 
                                                                    두 가지 버전으로 사용됩니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/iconButton-02-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="close">Close</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    버튼 클릭 시 팝업 혹은 현재 페이지가 닫힙니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap" data-link-cont="contextualHelp">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/iconButton-02-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="ContextualHelp">Contextual help</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    경험에 대한 상위 수준의 주제를 설명하고<br>
                                                                    사용자를 더 많은 정보로 안내할 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/iconButton-02-d.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="mobileTapbar">Mobile tapbar</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    APP전용 하단 탭바에서만 사용되는 아이콘 버튼입니다.<br>
                                                                    버튼 클릭시 각 페이지로 이동합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/iconButton-02-e.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="stickyMenu">Sticky menu</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    본문 PC에서만 사용되는 스티키 메뉴 아이콘 버튼 입니다.<br>
                                                                    선택시 컬러 변환은 저장 버튼에만 적용되며, 뱃지는 댓글 버튼에만 적용됩니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/iconButton-02-f.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="dropDownArrow">Drop down arrow</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    드롭다운 UI에 쓰이는 아이콘으로 레이블과 함께<br> 
                                                                    사용됩니다. 
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/iconButton-02-g.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="player">Player</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    영상 재생화면에 사용되는 아이콘 버튼입니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/iconButton-02-h.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="badge">Badge</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    도트 배지는 두 가지 크기가 제공됩니다.<br>
                                                                    제공된 크기 중 하나를 사용하는 것이 좋습니다.
                                                                </p>
                                                                <p class="para">
                                                                    숫자 배지에는 1부터 999까지의 숫자가 표시됩니다.<br>업데이트 횟수가 999보다 큰 경우 '999+'가 표시됩니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="usage">Usage</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <div class="data-list design-04">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="layoutAndDensity">Layout and Density</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">
                                                                유사한 구성 요소 그룹을 구성 요소 내부에 함께 중첩하거나 단독으로 배치할 수 있습니다.<br>
                                                                배치할 때에는 버튼 사이에는 동일한 간격이 있어야 합니다.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="usageGuidelines">Usage guidelines</em>
                                                        </div>
                                                        <div class="data-figure">
                                                            <ul class="post-list design-02">
                                                                <li class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure do">
                                                                            <img src="../assets/images/components/iconButton-03-b.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    레이블은 누구나 이해할 수 있을 만큼 간단해야 합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/iconButton-03-c.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    아이콘 전용 버튼과 섞어 사용하지 마세요.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/iconButton-03-d.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    레이블은 명확하지 않을 수 있으므로 말줄임 사용하지 않습니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/iconButton-03-e.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    레이블 없을 때는 각 아이콘은 의미를 명확하게 나타내야합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section code">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="code">Code</h4>
                                            <div class="btn-display">
                                                <a href="https://codepen.io/PIX-the-bold/pen/JjgbrGW" target="_blank" class="btn view-code design-01">
                                                    View Code
                                                </a>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <pre class="highlight-js">
                                                <code class="html">&lt;button type="button" class="btn-type001 scrap01"&gt;
    &lt;span class="ir-txt01"&gt;북마크&lt;/span&gt;
&lt;/button&gt;

&lt;button type="button" class="btn-type004-toggle menu01" data-a11y-txt="메뉴 닫기;메뉴 열기"&gt;
    &lt;span class="ir-txt01"&gt;메뉴 열기&lt;/span&gt;
    &lt;i class="pick01 ico-type01-menu01"&gt;&lt;/i&gt;
&lt;/button&gt;

&lt;button type="button" class="btn-type004-toggle menu01 active" data-a11y-txt="메뉴 닫기;메뉴 열기"&gt;
    &lt;span class="ir-txt01"&gt;메뉴 닫기&lt;/span&gt;
    &lt;i class="pick02 ico-type01-close02"&gt;&lt;/i&gt;
&lt;/button&gt;

&lt;button type="button" class="btn-type004-toggle btn-srch-switch" data-a11y-txt="검색창 닫기;검색창 열기"&gt;
    &lt;span class="ir-txt01"&gt;검색창 열기&lt;/span&gt;
    &lt;i class="pick01 ico-type01-srch01"&gt;&lt;/i&gt;
&lt;/button&gt;

&lt;a href="javascript:void(0)" class="btn-type004 login01 active" rel="nofollow"&gt;
    &lt;span class="ir-txt01"&gt;로그인&lt;/span&gt;
&lt;/a&gt;
</code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'icon-button', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>