<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'components' , }) %>
    <!-- page-body -->
    <div class="main" id="main"> 
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Text Button 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'components', depth2: 'button', depth3: 'text-button' }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Text Button</h3>
                                <p class="content-summary">링크는 다른 서비스/애플리케이션, 한 서비스 내의 다른 화면, 한 화면 내의 다른 섹션 등으로 이동하는 데 사용됩니다.<br> 중요도에 따라 컬러와 사이즈(높이값)를 다르게 사용하고 선택적으로 아이콘과 결합해 사용합니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="anatomy">Anatomy</h4>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/components/textButton-01.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="options">Options</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/textButton-02-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="textOnly">Text only</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    레이블만 사용하는 버튼으로 너비는 버튼 레이블에<br> 
                                                                    따라 결정되며, 필요에 따라 사이즈를 사용합니다. 
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/textButton-02-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="textIcon">Text + Icon</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    레이블과 아이콘을 결합해 사용하는 버튼으로,<br> 
                                                                    아이콘은 레이블의 좌측과 우측에 모두 위치할 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/textButton-02-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="underlined">Underlined</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    텍스트(레이블)에 밑줄을 사용하는 버튼으로,<br> 강조돼야 할 버튼에 사용합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="UsageGuidelines">Usage guidelines </h4>
                                        </div>
                                        <div class="section-body"> 
                                            <div class="data-list design-04">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="screenReaderSupport">화면 판독기 지원</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">
                                                                배치와 언어를 주의 깊게 살펴보고, 화면 판독기를 사용하여 탐색하는 사용자를 고려합니다.
                                                            </p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <div class="post-list design-02 style-01">
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure do">
                                                                            <img src="../assets/images/components/textButton-03-a.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    맥락을 전달하고 링크가 어디로 갈지에 대해 명확하게 합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/textButton-03-b.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    화면 판독기를 사용하는 사람들은 "자세히 알아보기" 또는 "여기를 클릭하세요"와 같은 매우 일반적인 링크 문구는 전달하지 못합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="useInSentence">문장 내 사용</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">
                                                                문장 내에서 사용할 때에는 버튼은 마치 문단의 일부인 것처럼 작성될 수 있습니다.<br> 
                                                                랜딩 경험의 가치와 기대를 전달하기 위해 레이블 맥락을 끊어주어야 합니다.
                                                            </p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <div class="post-list design-02 style-01">
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure do">
                                                                            <img src="../assets/images/components/textButton-03-c.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    레이블은 연결된 목적지 정보를 예측할 수 있는 내용으로 제공합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/textButton-03-d.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    텍스트가 줄바꿈될 정도로 길어지는 것은 피해야 합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject" data-link-cont="intuitiveExperience">직관적인 경험</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">해당 링크가 어디로 갈지 또는 무엇을 할지 정확히 식별할 수 있도록 명확하게 표현합니다.</p>
                                                        </div>
                                                        <div class="data-figure">
                                                            <div class="post-list design-02 style-01">
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure do">
                                                                            <img src="../assets/images/components/textButton-03-e.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    사용자가 가장 유용한 다음 단계를 빠르게 찾을 수 있도록 합니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="post-item">
                                                                    <div class="post-wrap">
                                                                        <div class="post-figure dont">
                                                                            <img src="../assets/images/components/textButton-03-f.jpg" alt=" ">
                                                                        </div>
                                                                        <div class="post-info">
                                                                            <div class="post-body">
                                                                                <p class="para">
                                                                                    여러 문장이나 문단의 끝에 "자세히 알아보기"라는 일반적인 독립형 
                                                                                    링크를 연속해서 사용하는 것은 피하는게 좋습니다.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section code">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="code">Code</h4>
                                            <div class="btn-display">
                                                <a href="https://codepen.io/PIX-the-bold/pen/YzmqLgJ" target="_blank" class="btn view-code design-01">
                                                    View Code
                                                </a>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <pre class="highlight-js">
                                                <code class="html">&lt;div class="btns"&gt;
    &lt;button type="button" class="btn-type205"&gt;
        &lt;span class="txt01"&gt;자동완성 끄기&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;


&lt;div class="title-con01"&gt;
    &lt;h3 class="title-type001 arr01"&gt;
        &lt;a href="#" class="tit01" data-stat-code="travel_festival_btn_more"&gt;핫뉴스&lt;/a&gt;
    &lt;/h3&gt;
&lt;/div&gt;


</code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'text-button', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>