<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'components' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local">
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Thumbnail 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'components', depth2: 'ui-elements', depth3: 'thumbnail' }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Thumbnail</h3>
                                <p class="content-summary">이미지 그리드는 여러 개의 썸네일 이미지로 구성됩니다.<br> 이미지에 포함된 추가 정보와 링크는 사용자가 작업을 수행하는 데 도움이 됩니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="anatomy">Anatomy</h4>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/components/thumbnail-01.jpg" alt=" ">
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="options">Options</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/components/thumbnail-02-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="timeLine">Time line</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">영상 재생 시간을 표시한 것으로 영상 썸네일 왼쪽 하단에 위치합니다. 카테고리에 따라 DIM 박스를 넣고 빼는 게 가능합니다.</p>
                                                            </div>
                                                            <div class="post-aside">
                                                              <ul class="data-list design-05">
                                                                  <li class="data-item">
                                                                    <img src="../assets/images/components/thumbnail-02-a1.png" alt=" ">
                                                                  </li>
                                                                  <li class="data-item">
                                                                    <img src="../assets/images/components/thumbnail-02-a2.png" alt=" ">
                                                                  </li>
                                                              </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                  <div class="post-wrap">
                                                      <div class="post-figure">
                                                          <img src="../assets/images/components/thumbnail-02-b.jpg" alt=" ">
                                                      </div>
                                                      <div class="post-info">
                                                          <div class="post-head">
                                                              <em class="subject" data-link-cont="iconArea">Icon area</em>
                                                          </div>
                                                          <div class="post-body">
                                                            <p class="para">오른쪽 하단에 위치하게 되는 이미지 형태 아이콘입니다. 아래 순서대로 포토, 화보, 영상, 그래픽 그리고 전체 보기 아이콘으로 구성되어 있습니다.</p>
                                                        </div>
                                                          <div class="post-aside">
                                                            <ul class="data-list design-05">
                                                                <li class="data-item">
                                                                  <img src="../assets/images/components/thumbnail-02-b1.png" alt=" ">
                                                                </li>
                                                                <li class="data-item">
                                                                  <img src="../assets/images/components/thumbnail-02-b2.png" alt=" ">
                                                                </li>
                                                                <li class="data-item">
                                                                  <img src="../assets/images/components/thumbnail-02-b3.png" alt=" ">
                                                                </li>
                                                                <li class="data-item">
                                                                  <img src="../assets/images/components/thumbnail-02-b4.png" alt=" ">
                                                                </li>
                                                                <li class="data-item">
                                                                  <img src="../assets/images/components/thumbnail-02-b5.png" alt=" ">
                                                                </li>
                                                            </ul>
                                                          </div>

                                                      </div>
                                                  </div>
                                                </div>
                                                <div class="post-item">
                                                  <div class="post-wrap">
                                                      <div class="post-figure">
                                                          <img src="../assets/images/components/thumbnail-02-c.jpg" alt=" ">
                                                      </div>
                                                      <div class="post-info">
                                                          <div class="post-head">
                                                              <em class="subject" data-link-cont="textArea">Text area</em>
                                                          </div>
                                                          <div class="post-body">
                                                            <p class="para">이미지 위에 텍스트 사용하는 것은 권장되지 않습니다. 다만 필요한 경우에 따라 적용 할 수 있습니다.</p>
                                                        </div>
                                                        <div class="post-aside">
                                                          <ul class="data-list bullet-01">
                                                              <li class="data-item">Font color : #FFFFFF</li>
                                                              <li class="data-item">Font weight : Medium More than</li>
                                                          </ul>
                                                        </div>
                                                      </div>
                                                  </div>
                                                </div>
                                                <div class="post-item">
                                                  <div class="post-wrap">
                                                      <div class="post-figure">
                                                          <img src="../assets/images/components/thumbnail-02-d.jpg" alt=" ">
                                                      </div>
                                                      <div class="post-info">
                                                          <div class="post-head">
                                                              <em class="subject" data-link-cont="dimmer">Dimmer</em>
                                                          </div>
                                                          <div class="post-body">
                                                            <p class="para">딤에는 Full과 Gradient 두 가지가 있습니다. Full 딤처리 적용은 영상에 주로 사용하고 있습니다. 하단 고정되는 Gradient는 텍스트 또는 하단에 주요 요소가 배치 되는 경우에 사용합니다.</p>
                                                        </div>
                                                        <div class="post-aside">
                                                          <ul class="data-list bullet-01">
                                                              <li class="data-item">Full BG : #000000,40%</li>
                                                              <li class="data-item">Gradient : #000000,0% - #000000,100%</li>
                                                          </ul>
                                                        </div>
                                                      </div>
                                                  </div>
                                                </div>
                                                <div class="post-item">
                                                  <div class="post-wrap">
                                                      <div class="post-figure">
                                                          <img src="../assets/images/components/thumbnail-02-e.jpg" alt=" ">
                                                      </div>
                                                      <div class="post-info">
                                                        <div class="post-head">
                                                            <em class="subject" data-link-cont="border">Border</em>
                                                        </div>
                                                        <div class="post-body">
                                                          <p class="para">흰배경의 이미지와 배경을 구분하기 위해서 이미지에는 라인이 필수로 들어가야 합니다.</p>
                                                        </div>
                                                        <div class="post-aside">
                                                          <div class="data-list bullet-01">
                                                              <div class="data-item">Line : #000000,4% (1px)</div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                  <div class="section-wrap">
                                      <div class="section-head">
                                          <h4 class="section-subject" data-link-cont="behaviors">Behaviors</h4>
                                      </div>
                                      <div class="section-body">
                                          <div class="post-list design-01">
                                              <div class="post-item">
                                                  <div class="post-wrap">
                                                      <div class="post-figure">
                                                          <img src="../assets/images/components/thumbnail-03-a.jpg" alt=" ">
                                                      </div>
                                                      <div class="post-info">
                                                          <div class="post-head">
                                                              <em class="subject" data-link-cont="video">Video</em>
                                                          </div>
                                                          <div class="post-body">
                                                              <p class="para">영상 썸네일에 마우스 오버 했을 때 나타나는 영상 플레이 버튼입니다.</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="post-item">
                                                <div class="post-wrap">
                                                    <div class="post-figure">
                                                        <img src="../assets/images/components/thumbnail-03-b.jpg" alt=" ">
                                                    </div>
                                                    <div class="post-info">
                                                        <div class="post-head">
                                                            <em class="subject" data-link-cont="keyword">keyword</em>
                                                        </div>
                                                        <div class="post-body">
                                                            <p class="para">메인 톱뉴스에 노출되는 키워드로 썸네일 오른쪽 하단에 위치합니다. PC에서 마우스 오버 시 키워드 배경 컬러가 포인트 됩니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="post-item">
                                                <div class="post-wrap">
                                                    <div class="post-figure">
                                                        <img src="../assets/images/components/thumbnail-03-c.jpg" alt=" ">
                                                    </div>
                                                    <div class="post-info">
                                                      <div class="post-head">
                                                          <em class="subject" data-link-cont="timeLineKeyword">Time line + Keyword</em>
                                                      </div>
                                                      <div class="post-body">
                                                          <p class="para">메인 톱뉴스에서 영상 썸네일일 경우에는 영상 재생시간과 키워드를 같이 노출할 수 있습니다.</p>
                                                      </div>
                                                    </div>
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="section">
                                  <div class="section-wrap">
                                      <div class="section-head">
                                          <h4 class="section-subject" data-link-cont="aspectRatio">Aspect ratio</h4>
                                          <p class="section-summary">노출되는 뉴스 이미지 비율은 6:4(3:2)비율을 고정으로 사용 하고 있고, 영상 비율은 16:9를 사용하고 있습니다.<br>
                                            비율이 맞지 않는 이미지의 경우 아래 방식으로 노출 됩니다.</p>
                                      </div>
                                      <div class="section-body">
                                          <img src="../assets/images/components/thumbnail-04.jpg" alt=" ">
                                      </div>
                                  </div>
                                </div>
                                <div class="section">
                                  <div class="section-wrap">
                                      <div class="section-head">
                                          <h4 class="section-subject" data-link-cont="imageExposureMethod">Image exposure method</h4>
                                      </div>
                                      <div class="section-body">
                                          <div class="post-list design-01">
                                              <div class="post-item">
                                                  <div class="post-wrap">
                                                      <div class="post-figure">
                                                          <img src="../assets/images/components/thumbnail-05-a.jpg" alt=" ">
                                                      </div>
                                                      <div class="post-info">
                                                          <div class="post-head">
                                                              <em class="subject" data-link-cont="horizontalImage">가로형 이미지</em>
                                                          </div>
                                                          <div class="post-body">
                                                              <p class="para">가로형 이미지를 등록한다면 양 옆이 잘려 노출됩니다.<br> (4:3), (3:2), (16:9), (7:3), (3:1) 비율이 이에 속합니다.</p>
                                                          </div>
                                                          <div class="post-aside">
                                                            <div class="data-list bullet-01">
                                                                <li class="data-item">Line : #000000,4% (1px)</li>
                                                            </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="post-item">
                                                <div class="post-wrap">
                                                    <div class="post-figure">
                                                        <img src="../assets/images/components/thumbnail-05-b.jpg" alt=" ">
                                                    </div>
                                                    <div class="post-info">
                                                        <div class="post-head">
                                                            <em class="subject" data-link-cont="verticalImage">세로형 이미지</em>
                                                        </div>
                                                        <div class="post-body">
                                                            <p class="para">세로형 이미지를 등록한다면 높이를 기준으로<br> 이미지 노출하고 배경 컬러를 넣어줍니다.<br> (2:3), (3:4), (1:1) 비율이 이에 속합니다.</p>
                                                        </div>
                                                        <div class="post-aside">
                                                          <div class="data-list bullet-01">
                                                              <li class="data-item">BG : #F9F9F9</li>
                                                              <li class="data-item">Line : #000000,4% (1px)</li>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="post-item">
                                                <div class="post-wrap">
                                                    <div class="post-figure">
                                                        <img src="../assets/images/components/thumbnail-05-c.jpg" alt=" ">
                                                    </div>
                                                    <div class="post-info">
                                                        <div class="post-head">
                                                            <em class="subject" data-link-cont="noImageAvailable">이미지 없는 경우</em>
                                                        </div>
                                                        <div class="post-body">
                                                            <p class="para">이미지 없는 경우에는 로고 심볼만 노출합니다.<br> 인물 등 특수한 경우에 사용됩니다.</p>
                                                        </div>
                                                        <div class="post-aside">
                                                          <div class="data-list bullet-01">
                                                              <li class="data-item">BG : #F5F5F5</li>
                                                              <li class="data-item">Line : #000000,4% (1px)</li>
                                                          </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                              </div>
                                              <div class="post-item">
                                                <div class="post-wrap">
                                                    <div class="post-figure">
                                                        <img src="../assets/images/components/thumbnail-05-d.jpg" alt=" ">
                                                    </div>
                                                    <div class="post-info">
                                                        <div class="post-head">
                                                            <em class="subject" data-link-cont="breakingNewsImage">뉴스 속보 이미지</em>
                                                        </div>
                                                        <div class="post-body">
                                                            <p class="para">긴급 속보 사진 없는 케이스에 사용됩니다.<br> 지원하는 언어 7개 국어 대응 가능합니다.</p>
                                                        </div>
                                                    </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="section code">
                                  <div class="section-wrap">
                                      <div class="section-head">
                                          <h4 class="section-subject" data-link-cont="code">Code</h4>
                                          <div class="btn-display">
                                              <a href="https://codepen.io/PIX-the-bold/pen/MWNbMVO" target="_blank" class="btn view-code design-01">
                                                  View Code
                                              </a>
                                          </div>
                                      </div>
                                      <div class="section-body">
                                          <pre class="highlight-js">
                                              <code class="html">&lt;div class=&quot;news-type001 top-main01&quot; data-topnews-template=&quot;8254&quot; data-issue-view=&quot;&quot;&gt;
  &lt;article class=&quot;item-box01&quot;&gt;
    &lt;figure class=&quot;img-con11&quot;&gt;
      &lt;a href=&quot;https://re-qa-www.yna.co.kr/view/MYH20241011005400641?section=video/international&amp;amp;site=topnews01&quot; class=&quot;img colW show&quot; data-stat-code=&quot;topnews01&quot; data-issue-degree=&quot;&quot;&gt;
        &lt;picture class=&quot;pic&quot;&gt;
          &lt;img src=&quot;https://qa-img4.yna.co.kr/mpic/YH/2024/10/11/MYH20241011005400641_P4.jpg&quot; alt=&quot;한강 작품 출간 해외 출판사도 축하…&amp;quot;노벨상 확신&amp;quot;&quot; loading=&quot;lazy&quot; data-ll-status=&quot;loaded&quot;&gt;
        &lt;/picture&gt;
        &lt;span class=&quot;label-box04&quot;&gt;
          &lt;em class=&quot;ico-type02-play02&quot;&gt;&lt;i class=&quot;ir-txt01&quot;&gt;재생시간&lt;/i&gt;00:43&lt;/em&gt;
        &lt;/span&gt;
      &lt;/a&gt;
      &lt;div class=&quot;label-box01&quot;&gt;
        &lt;em class=&quot;blind&quot;&gt;톱기사 연관 검색어&lt;/em&gt;
        &lt;div class=&quot;list-text002&quot;&gt;
          &lt;ul class=&quot;list01&quot;&gt;
            &lt;li class=&quot;active&quot;&gt;
              &lt;a href=&quot;https://re-qa-www.yna.co.kr/theme/topnews-history?site=topnews01_btn_more&quot; class=&quot;txt01&quot; data-stat-code=&quot;topnews01_btn_more&quot;&gt;#톱뉴스&lt;/a&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/figure&gt;
  &lt;/article&gt;
&lt;/div&gt;</code></pre>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'thumbnail', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>