<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'guidelines' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Design tokens 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'guidelines', depth2: 'design-tokens', depth3: null }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Design tokens</h3>
                                <p class="content-summary">디자인 토큰은 색상, 타이포그래피, 간격 또는 고도와 같은 스타일을 할당하는 데 사용되는 저장된 값입니다.<br> 토큰 시스템을 사용하면 공통 언어를 사용하고 플랫폼과 분야에서 일관된 디자인을 보장할 수 있습니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="designToken">디자인 토큰이란?</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <div class="post-list design-03 style-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/designTokens-01.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-body">
                                                            <p class="para">디자인 토큰은 색상, 타이포그래피, 간격 또는 고도와 같은 스타일을 할당하는 데 사용되는 저장된 값입니다.<br> 토큰 시스템을 사용하면 공통 언어를 사용하고 플랫폼과 분야에서 일관된 디자인을 보장할 수 있습니다.<br> 디자인 구현에 토큰을 사용하면 스타일 업데이트가 공통 적용되어서 일관된 유지 운영이 편리합니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="globalTokens">Global tokens</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <div class="post-list design-03 style-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-body">
                                                            <p class="para">두 개의 토큰 레이어를 사용합니다. 첫째, 글로벌 토큰은 상황에 구애받지 않고 색상에 대한 16진수 코드와 같은 헥스 값을 저장합니다.<br> 글로벌 토큰은 타이포그래피, 경계 반경, 획 너비 및 애니메이션에 대한 정보도 저장합니다.</p>
                                                        </div>
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/designTokens-02.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="aliasTokens">Alias tokens</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-03 style-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-body">
                                                            <p class="para">별칭 토큰의 기능을 바로 인식할 수 있도록 명칭을 붙입니다. 명확할수록 토큰이 어디에 적용되는지 한눈에 파악할 수 있습니다.<br> 명칭은 디자인과 개발에서 더 많은 사람들이 토큰을 이해하고 빠르게 작업할 수 있도록 합니다.</p>
                                                        </div>
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/designTokens-03-a.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-list design-02">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/designTokens-03-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="altTextShort">One easily</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    그림자 및 유형과 같은 더 복잡한 요소의 경우 별칭 토큰은 많은 값을<br> 
                                                                    쉽게 소화할 수 있는 하나의 형식으로 압축합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/designTokens-03-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="altTextShort">Alias naming</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    별칭 토큰의 이름을 지정하여 기능을 즉시 알아볼 수 있도록 합니다.<br> 
                                                                    한눈에 일관된 스타일을 어디에 어떻게 적용할지 알 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="theming">Theming</h4>
                                        </div>
                                        <div class="section-body"> 
                                            <div class="post-list design-03 style-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-body">
                                                            <p class="para">디자인 토큰은 유연성과 접근성을 위해 만들어졌습니다.<br> 저장된 토근을 통해서 고대비 및 브랜드 요소에 대한 OS 테마를 지원하고 시스템 전체에서 충분한 색상 대비를 보장합니다.</p>
                                                        </div>
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/designTokens-04.jpg" alt=" ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'design-tokens', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>