<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'guidelines' , }) %>
    <!-- page-body -->
    <div class="main" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Principles 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'guidelines', depth2: 'principles', depth3: null }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Principles</h3>
                                <p class="content-summary">모든 의사 결정은 사용자를 중심으로 이루어져야 합니다. 사용자 요구 사항을 기반으로 설계하고,<br> 사용자가 원하는 정보와 기능을 제공하고 사용자가 목적을 달성하는 과정을 적극적으로 도와야 합니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="designPrinciples">디자인 원칙</h4>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/guidelines/principles-01.jpg" alt=" ">
                                            <div class="data-list design-02">
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject">1. Human</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">장애인, 고령자, 어린이, 외국인을 포함하여 서로 다른 능력, 환경, 상황을 가진 모든 사람을 고려해서 디자인합니다. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject">2. Rational</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">실제 반영 가능한 디자인을 기반으로 제작합니다.<br> 더 나은 가독성과 더 쉬운 UI 상호 작용을 고려하여 모든 기기에서 동일한 품질의 경험을 제공합니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="data-item">
                                                    <div class="data-wrap">
                                                        <div class="data-head">
                                                            <em class="subject">3. Focused</em>
                                                        </div>
                                                        <div class="data-body">
                                                            <p class="para">필요한 의사 결정을 최소화하는 방식으로 필요한 것을 필요한 때에 전달하기 위해 노력합니다.<br> 사용자가 보다 빠르고 간단하게 서비스 이용 목적을 달성하도록 불필요한 장식이나 관련 없는 내용은 지양합니다.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject" data-link-cont="planOfPrinciple">원칙을 따르기 위한 주요 방안</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/principles-02-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="responsive">Responsive</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    데스크톱과 모바일 모두의 모든 플랫폼을 고려합니다.<br> 
                                                                    디바이스 디스플레이 종류에 반응하여 그에 맞도록<br> 
                                                                    적절하게 UI 요소를 유기적으로 배치하도록 설계합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/principles-02-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="accessibility">Accessibility</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    많은 사용자가 사용할 수 있도록 제품을 디자인합니다.<br> 
                                                                    명확하게 읽을 수 있고, 사용하기 직관적이며, 대체 입력<br> 
                                                                    장치나 화면 판독기를 사용하는 사람들을 염두에 두고<br> 
                                                                    설계되었습니다. 색상과 유형부터 상호 작용과 언어를<br> 
                                                                    고려해 업계 표준을 준수하도록 제작합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/principles-02-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="visualHierarchy">Visual hierarchy</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    명확한 구조와 계층 구조는 사용자가 빠르고 간단하게 목적을 달성 할 수 있게 합니다. 사용자의 탐색 효율성을 높이기 위해 시각적 계층 구조를 명확하게 표현합니다.
                                                                </p>
                                                                <p class="para">
                                                                    예를 들어 텍스트 크기와 레이아웃을 활용하여 요소들 간의 상대적인 중요도를 나타낼 수 있습니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/guidelines/principles-02-d.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject" data-link-cont="meaningfulText">Meaningful text</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">
                                                                    사용자의 쉽고 빠른 이해를 위해 디자인할 때 유용하고 
                                                                    평범한 언어를 사용합니다. 최대한 간결하고 친숙하면서도 직관적인 방식으로 표현합니다. 사용자의 실수를 최소화 
                                                                    할 수 있도록 지나치게 복잡하거나 이해하기 어려운 방식은 피합니다.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'principles', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>